@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.common{
	width: 100%;
	height: 30px;
	background: grey;
}

.left{
	float: left;
	width: 20%;
	height: 100%;
	line-height:30px;
}

.right{
	float: right;
	width: 30%;
	height: 100%;
	line-height:30px;
}

.common_left{
	margin-left: 10px;
	color: orange;
}

.common_right{
	float: right;
	margin-right: 10px;
	color: white;
}

#exit{
	color: red;
}