@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#basicDiv{
	background-color: #ECF0F1;
	position:relative;
	width:100%;
	height:800px;
	border:1px solid;
}

#basicDiv >div{
	background-color: #fff;
	width:1000px;
	height:750px;
	margin: 0 auto;
	margin-top: 10px;
}

img{
	width: 300px;
	height:200px;
}

h2{
	text-align: center;
}

h4{
	text-indent: 50px;
	line-height: 30px;
}

#imgDiv{
	margin-left:30%; 
}

#contentP{
	text-indent: 100px;
	line-height: 50px;
}

#initiatorDiv{
	float: right;
}

#initiatorDiv p{
	line-height: 30px;
}

#seeOthersTravel p{
	text-indent: 50px;
}

#inputDiv{
	float:right;
	margin:-80px 100px 0 0;
}

#inputDiv input,.horizonCenter input{
	width:150px;
	height:30px;
	background-color: #E54724;
	color:white;
	border:none;
	font-size:20px;
}

#inputDiv input:hover,.horizonCenter input:hover{
	cursor: pointer;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

th,td{
	padding:10px;
}

.even:hover,.odd:hover{
	background-color: #DEBFDE;
}

.even{
	background-color: #e8f7a2;
}

/* 隐藏区域：发布出行模块中的标签样式 */
#issueTravelDiv{
	background-image: url("../images/travelImg/issueTravelBack.png");
	position: relative;
	width: 1000px;
	height:600px;
	display: none;
}
#issueTravelDiv form{
	position:absolute;
	margin:10% 0 0 20%;
}

/*平面区域样式*/
fieldset{
	width:600px;
	border: 5px solid #ffff80;
	color: white;
	font-size: 18px;
}

#issueTravelDiv input{
	border:1px solid thin orange;
}

textarea{
	height:100px;
}

/*表单中label中的文字样式*/
.slabel{
	width:150px;
	display:inline-block;
	line-height:1.8;
	text-align:right;
}

.slabel +input{
	width:200px;
	height:30px;
}

.horizonCenter{
	text-align:center;
}

.verticalCenter{
	vertical-align:middle;
}

/*校验出错时提示信息的样式，不是标签的样式*/
input.error,textarea.error{
	border:1px solid #cd0a0a;
}
/*validate框架的报错会用label封装提示信息，所以还应定义label的出错样式*/
label.error{
	color:#cd0a0a;
	margin-left:5px;
	font-size: 12px;
}

